.wy-bpBg {
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-image: url("./bp/image/bpBg.png");
	z-index: 9;
	background-size: 100% 100%;
}

.wy-areaBg {
	background-image: url("./bp/image/bpJiangchiBg.png");
	background-size: 100% 100%;
	top: 5%;
	left: 5%;
	height: 90%;
	width: 70%;
}

.wy-areaBg__packBg {
	background-image: url("./bp/image/bpChoosePackBg.png");
	background-size: 100% 100%;
	top: 9.3%;
	left: 0.3%;
	height: 87%;
	width: 25%;
	overflow-y: auto;
	overflow-x: hidden;
	display: block;
}

.wy-areaBg__pack {
	font-family: "yuanli";
	color: #805c34;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 570;
	font-size: 1.5em;
	height: 15%;
	text-shadow: none;
	width: 100%;
}

.wy-areaBg__pack.wy--active {
	background-image: url("./bp/image/bpCharacterPack.png");
	background-size: 100% 100%;
	color: #805c34;
}

.wy-areaBg__pack.wy--ban {
	opacity: 0.5;
}

.wy__close {
	background-image: url("./bp/image/bpClose.png");
	background-size: 100% 100%;
	top: 1%;
	right: 1%;
	width: 5%;
	height: 7%;
}

.wy-charBg {
	width: 70%;
	height: 67%;
	top: 17%;
	left: 26.3%;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: rgb(0, 0, 0, 0.2);
}

.wy-charBg__sort {
	display: block;
	position: relative;
}

.wy-charBg__sort--line {
	display: block;
	line-height: 35px;
	position: relative;
	width: 100%;
	font-size: 1.2em;
	color: #f8db8d;
	padding-top: 5px;
}

.wy-charBg__sort--pack {
	display: block;
	position: relative;
	left: 3%;
	width: 100%;
}

.wy-charBg__sort--sort {
	background-image: url("./bp/image/bpSort_on.png");
	background-size: 100% 100%;
	width: 15%;
	height: 100%;
	top: 0;
	right: 0;
	display: block;
}

.wy-charBg__sort--sort.wy--off {
	background-image: url("./bp/image/bpSort_off.png");
}

.wy-charBg__charbk {
	background-image: url("./bp/image/bpCharacterBiankuang.png");
	background-size: 100% 100%;
	width: 85px;
	height: 85px;
	position: relative;
	margin-left: 6.7px;
	margin-top: 6.7px;
	margin-right: 0;
	margin-bottom: 0;
}

.wy-charBg__charbk--name {
	background-image: url("./bp/image/bpCharacterName.png");
	background-size: 100% 100%;
	width: 20%;
	height: 95%;
	z-index: 1;
	font-size: 1em;
	font-family: "yuanli";
}

.wy-charBg__charbk--img {
	background-size: 100% 100%;
	min-height: 80px;
	height: 95%;
	width: 95%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: auto;
	cursor: pointer;
}

.wy-charBg__charbk--lock.wy--bp {
	background-image: url("./bp/image/bpActive.png");
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	pointer-events: none;
	z-index: 3;
}

.wy-bpBottom {
	bottom: 1.7%;
	height: 13%;
	width: 72%;
	left: 26.3%;
	overflow-y: hidden;
	overflow-x: auto;
	display: flex;
}

.wy-bpBottom__button {
	top: 5%;
	width: 33%;
	height: 80%;
	position: relative;
	display: block;
	background-image: url("./bp/image/bpPlan.png");
	background-size: 100% 100%;
	color: #e3b88b;
}

.wy-bpBottom__button.wy--active {
	background-image: url("./bp/image/bpPlanLight.png");
	color: #805c34;
}

.wy-bpBottom__button--text {
	text-align: center;
	width: 100%;
	display: inline-block;
	font-family: "yuanli";
	font-size: 2em;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	font-weight: 550;
	text-shadow: none;
}

.wy-bpBottom__button--manage {
	background-image: url("./bp/image/bpChangePlan.png");
	background-size: 100% 100%;
	top: 50%;
	right: 7%;
	height: 35px;
	width: 35px;
	transform: translateY(-50%);
}

.wy-explans {
	bottom: 14.7%;
	height: 67%;
	width: 24%;
	left: 73.7%;
	display: flex;
	flex-direction: column-reverse;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 5;
}

.wy-explan {
	width: 100%;
	min-height: 17%;
	position: relative;
	display: block;
	background-image: url("./bp/image/bpPlan.png");
	background-size: 100% 100%;
	color: #e3b88b;
}

.wy-bpBottom__button--planText {
	position: absolute;
	text-align: center;
	width: 100%;
	font-family: "yuanli";
	font-size: 19px;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 30%;
	font-weight: 550;
	text-shadow: none;
	border: none;
	outline: none;
	background: transparent;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #e3b88b;
}

.wy--using {
	left: 0.5%;
	top: 0%;
	background-image: url("./bp/image/bpYingyong.png");
	background-size: 100% 100%;
	height: 35%;
	width: 40%;
}

.wy--noEdit {
	pointer-events: none;
	user-select: none;
	-webkit-user-select: none;
}

.wy-bpBottom__button--changeName {
	background-image: url("./bp/image/bpPlanNameChange.png");
	background-size: 100% 100%;
	top: 50%;
	right: 5%;
	height: 35px;
	width: 35px;
	transform: translateY(-50%);
}

.wy-bpBottom__button--delPlan {
	background-image: url("./bp/image/bpDelPlan.svg");
	background-size: 100% 100%;
	color: inherit;
	top: 50%;
	right: 25%;
	height: 35px;
	width: 35px;
	transform: translateY(-50%);
}

.wy-explan--input {
	text-align: center;
	width: 100%;
	font-family: "yuanli";
	font-size: 1.3em;
	font-weight: 550;
	text-shadow: none;
	outline: none;
}

.wy-explan::placeholder {
	text-align: center;
	width: 100%;
	font-family: "yuanli";
	font-size: 1.3em;
	font-weight: 550;
	text-shadow: none;
	opacity: 1;
	color: #e3b88b;
}

.wy-charactercardBg {
	background-image: url("./charactercard/image/charactercardBg.png");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 9;
}

.wy-charactercardBg__characterName {
	display: flex;
	flex-direction: column;
	min-width: 5.6em;
	top: 15%;
	left: 10%;
}

.wy-charactercardBg__characterName--prefix {
	display: block;
	align-self: flex-start;
	position: relative;
	letter-spacing: 2px;
	font-family: "xingkai";
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-size: 4.3em;
}

.wy-charactercardBg__characterName--name {
	display: block;
	position: relative;
	align-self: flex-start;
	background: linear-gradient(180deg, #ffb668 0%, #f8db8d 40%, #fbdc89 70%);
	color: transparent !important;
	text-shadow: none !important;
	background-clip: text !important;
	-webkit-background-clip: text !important;
	opacity: 1 !important;
	letter-spacing: 2px;
	font-family: "xingkai";
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-size: 4.3em;
}

.wy-charactercardBg__characterName--tilte {
	display: block;
	position: relative;
	align-self: flex-end;
	margin-top: -30px;
	background: linear-gradient(180deg, #ffb668 0%, #f8db8d 40%, #fbdc89 70%);
	color: transparent !important;
	text-shadow: none !important;
	background-clip: text !important;
	-webkit-background-clip: text !important;
	opacity: 1 !important;
	letter-spacing: 2px;
	font-family: "xingkai";
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-size: 1.3em;
}

.wy-charactercardBg__character {
	display: block;
	background-image: url("./charactercard/image/characterBorder.png");
	background-size: 100% 100%;
	width: 30%;
	height: 80%;
	left: 18%;
	top: 13%;
}

.wy-charactercardBg__character--char {
	display: block;
	width: 99%;
	height: 99%;
	margin: 0.5%;
}

.wy-charactercardBg__buttons {
	display: flex;
	width: 30%;
	height: 8%;
	top: 13%;
	right: 17%;
}

.wy-charactercardBg__button {
	display: flex;
	background-image: url("./charactercard/image/button_none.png");
	position: relative;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 33%;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	font-family: "xingkai";
	color: #edb0a7;
}

.wy-charactercardBg__button.wy--active {
	display: flex;
	background-image: url("./charactercard/image/button_selected.png");
	position: relative;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 33%;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	font-family: "xingkai";
	color: #ffb668;
}

.wy-charactercardBg__skillSkin {
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	top: 23%;
	right: 17%;
	width: 30%;
	height: 70%;
}

.wy-charactercardBg__skillSkin--skill {
	display: block;
	position: relative;
	flex-shrink: 0;
	padding-bottom: 15px;
	width: 100%;
	min-height: 200px;
	background-image: url("./charactercard/image/skillSkin.png");
	background-size: 100% 100%;
}

.wy-charactercardBg__skill--buttons {
	display: flex;
	position: static;
	gap: 10px;
	margin-top: 20px;
	margin-left: 20px;
	height: 40px;
	width: 100%;
}

.wy-charactercardBg__skill--button {
	display: block;
	position: relative;
	min-width: 50px;
	height: 100%;
	background-image: url("./charactercard/image/skillButton.png");
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "xingkai";
	color: #f8db8d;
}

.wy-charactercardBg__skill--button.wy--active {
	background-image: url("./charactercard/image/skillButton_active.png");
	color: #f8db8d;
}

.wy--trigger {
	display: block;
	position: static;
	margin-left: 25px;
	margin-top: 20px;
	height: 25px;
	width: 25px;
	background-image: url("./charactercard/image/triggerSkill.png");
	background-size: 100% 100%;
}

.wy--enable {
	display: block;
	position: static;
	margin-left: 25px;
	margin-top: 20px;
	height: 25px;
	width: 25px;
	background-image: url("./charactercard/image/enableSkill.png");
	background-size: 100% 100%;
}

.wy-charactercardBg__skill--info {
	display: block;
	position: static;
	margin-top: -23px;
	margin-left: 52px;
	margin-right: 25px;
	font-family: "xingkai";
	font-size: 1.3em;
	color: #edb0a7;
}

.wy-charactercardBg__skill--poptip {
	display: block;
	position: static;
	margin-top: 3px;
	margin-left: 25px;
	margin-right: 25px;
	font-family: "xingkai";
	font-size: 1.3em;
	color: rgba(85, 255, 0, 0.936);
}

.wy-charactercardBg__intro {
	padding-top: 15px;
	text-align: center;
	font-family: "xingkai";
	font-size: 1.3em;
}

.wy-charactercardBg__skillSkin--skin {
	display: flex;
	flex-shrink: 0;
	position: relative;
	padding-bottom: 15px;
	padding-left: 25px;
	width: 100%;
	min-height: 200px;
	background-image: url("./charactercard/image/skillSkin.png");
	background-size: 100% 100%;
}

.wy-charactercardBg__skillSkin--dynamic {
	display: block;
	position: relative;
	background-image: url("./charactercard/image/characterBorder.png");
	background-size: 100% 100%;
	width: 30%;
	height: 80%;
	margin-top: 7%;
}

.wy-charactercardBg__rSkin {
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: 15px;
	align-items: center;
	top: 13%;
	right: 3%;
	width: 13%;
	height: 70%;
}

.wy-charactercardBg__rSkin--skin {
	display: flex;
	position: relative;
	width: 90%;
	min-height: 20%;
}

.wy-charactercardBg__close {
	background-image: url("./charactercard/image/charactercard_close.png");
	background-size: 100% 100%;
	background-position: center;
	display: block;
	width: 7%;
	height: 7%;
	top: 3%;
	right: 7%;
}

.live2d-scene {
	display: block;
	height: 90%;
	width: 25%;
	right: 0;
	top: 5%;
}
